{% extends 'base.html' %}

{% block titulo %}Sobre o projeto{% endblock %}
{% block cabecalho %}Sobre{% endblock %}
{% block conteudo %}
<a href="/">Página inicial</a> - <a href="/covid-pr">COVID-19 PR</a>
<p>Este site é parte do projeto final da certificação de Jornalismo de dados e automação do Instituto Insper.</p>
<p>Na fase inicial deste projeto, foi disponibilizado o número de alunos por turma de escolarização nos estabelecimentos de ensino dos distritos da zona norte de São Paulo.</p>
<table>
  <tr><th>Distritos</th></tr>
  <tr><td>Anhanguera</td></tr>
  <tr><td>Brasilândia</td></tr>
  <tr><td>Cachoeirinha</td></tr>
  <tr><td>Casa Verde</td></tr>
  <tr><td>Freguesia do Ó</td></tr>
  <tr><td>Jaçanã</td></tr>
  <tr><td>Jaraguá</td></tr>
  <tr><td>Limão</td></tr>
  <tr><td>Mandaqui</td></tr>
  <tr><td>Perus</td></tr>
  <tr><td>Pirituba</td></tr>
  <tr><td>Santana</td></tr>
  <tr><td>São Domingos</td></tr>
  <tr><td>Tremembé</td></tr>  
  <tr><td>Tucuruvi</td></tr>
  <tr><td>Vila Maria</td></tr>
  <tr><td>Vila Medeiros</td></tr>
  <tr><td>Vila Guilherme</td></tr>
</table>
<p> - O download da base de dados deste projeto pode ser feito em: <a href="http://dados.prefeitura.sp.gov.br/dataset/microdados-matriculas"></a></p>
<p> - O código do projeto está disponibilizado no <a href="https://github.com/renan-cav/dados-matriculas-sme"><b>GitHub.</b></a>
<p> Este site foi criado por <b>Renan Cavalcante Eugenio</b>.</p>
{% endblock %}
